<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-9:profile' %}">Session</a></li>
        <li><a href="{% url 'lab-9:cookie_profile' %}">Cookie</a></li>
      </ul>
      {% if is_login %}
      <a href="{{ logout_url }}" class="btn btn-default navbar-btn navbar-right" onclick="return confirm('Keluar?')">
            Logout </a>
      {% endif %}
    </div>
  </div>
</nav>
