.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}

.feed {
    width: 90%;
    margin: 15px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.picture {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 2;
    left: 7%;
    bottom: 19rem;
}

.profile {
    border-radius: 5px;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.4);
    background-color: #FFFDE7;
}

.data {
    margin-left: 10px;
}

.input {
    padding: 10px;
}


.cover {
    width: 100%;
    height: 40rem;
}

#postInput {
    width: 100%;
}

#buttonGroup .btn {
    margin: 5px;
}

#buttonGroup {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.feed h2 {
    color: red;
    font-size: 2rem;
}

.feed h1 {
    font-size: 2.5rem;
}

body {
    background-color: #FFF8E1;
}