{% extends "lab_10_new/layout/base.html" %}

{% block content %}
<style>
    .movie-detail {
        display: flex;
        flex-direction: row;
    }
    .movie-detail .poster {
        margin: 10px;
    }
    .movie-detail .detail {
        margin: 10px;
    }
</style>
<div class="row">
    <div class="movie-detail">
        <div class="poster">
            <img src="{{ movie.Poster }}"/>
        </div>
        <div class="detail">
            <h1> {{ movie.Title }} </h1>
            <h2> Release </h2>
            <h5> {{ movie.Year }} </h5>
            <h2> Genre </h2>
            <h5> {{ movie.Genre }} </h5>
            <div class="rating">
                {% for rating in movie.Ratings %}
                    <div class="row">
                        <h4>
                            {{ rating.Source }}
                        </h4>
                        <h6>
                            {{ rating.Value }}
                        </h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="box">
        {% if is_added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10-new:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
