{% extends "lab_10_new/layout/base.html" %}

{% block content %}
<style>
    .movie-detail {
        display: flex;
        flex-direction: row;
    }
    .movie-detail .poster {
        margin: 10px;
    }
    .movie-detail .detail {
        margin: 10px;
    }
</style>
<div class="row">
    {% for movie in watch_later_movies %}
    <div class="movie-detail">
        <div class="poster">
            <img src="{{ movie.Poster }}"/>
        </div>
        <div class="detail">
            <h1> {{ movie.Title }} </h1>
            <h2> Release </h2>
            <h5> {{ movie.Year }} </h5>
            <h2> Genre </h2>
            <h5> {{ movie.Genre }} </h5>
            <div class="rating">
                {% for rating in movie.Ratings %}
                    <div class="row">
                        <h4>
                            {{ rating.Source }}
                        </h4>
                        <h6>
                            {{ rating.Value }}
                        </h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
